.gallery2,
.layout-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1247px;
  height: 6013px;
}
.gallery2 {
  top: 0.1px;
  left: 109px;
  display: inline-block;
  width: 84px;
  height: 26px;
}
.timeline6 {
  color: #6e6b56;
}
.span2 {
  color: #a303a0;
}
.timeline5 {
  margin: 0;
}
.timeline4,
.videos1 {
  position: absolute;
  font-weight: 300;
  display: inline-block;
}
.timeline4 {
  top: calc(50% - 15.95px);
  left: calc(50% - 137px);
  white-space: pre-wrap;
  width: 95px;
  height: 32px;
}
.videos1 {
  top: 0;
  left: 213px;
  width: 61px;
  height: 26.4px;
}
.navbar1 {
  position: absolute;
  top: 24.9px;
  left: 128px;
  width: 274px;
  height: 32.1px;
}
.ezlqvkdvcacpxxo-1-icon1,
.ezlqvnyucaahgtz-1-icon1 {
  position: absolute;
  top: 0;
  left: 31px;
  border-radius: 37px;
  width: 499px;
  height: 557px;
  object-fit: cover;
}
.ezlqvnyucaahgtz-1-icon1 {
  left: 569px;
  border-radius: 34px;
  width: 619px;
  height: 539px;
}
.e3semtkxwaybdcb-1-icon1,
.ezlqwhfuyaqi6br-1-icon1,
.momotaro-1-icon1 {
  position: absolute;
  top: 579px;
  left: 569px;
  border-radius: 37px;
  width: 619px;
  height: 532px;
  object-fit: cover;
}
.e3semtkxwaybdcb-1-icon1,
.momotaro-1-icon1 {
  left: 31px;
  border-radius: 56px;
  width: 499px;
  height: 509px;
}
.momotaro-1-icon1 {
  top: 1162px;
  left: 569px;
  border-radius: 69px;
  width: 619px;
  height: 932px;
}
.momotaro20061004-02-1-icon1,
.screenshot-2023-11-17-024136-2 {
  position: absolute;
  top: 1111px;
  left: 13px;
  border-radius: 37px;
  width: 513px;
  height: 751px;
  object-fit: cover;
}
.screenshot-2023-11-17-024136-2 {
  top: 1885px;
  left: 0;
  border-radius: 41px;
  width: 547px;
  height: 907px;
}
.eytf7utwqagwtmn-1-icon,
.screenshot-2023-11-17-005027-1 {
  position: absolute;
  top: 2825px;
  left: 31px;
  border-radius: 75px;
  width: 1152px;
  height: 648px;
  object-fit: cover;
}
.screenshot-2023-11-17-005027-1 {
  top: 2127px;
  left: 569px;
  border-radius: 104px;
  width: 620px;
  height: 665px;
}
.eytf7-uxiayxw3p-1-icon,
.maxresdefault-1-1,
.maxresdefault-1-icon {
  position: absolute;
  top: 5131px;
  left: 40px;
  border-radius: 91px;
  width: 1145px;
  height: 722px;
  object-fit: cover;
}
.eytf7-uxiayxw3p-1-icon,
.maxresdefault-1-icon {
  top: 4256px;
  height: 843px;
}
.maxresdefault-1-icon {
  top: 3541px;
  left: 31px;
  height: 682.8px;
}
.layout-parent,
.minigallery1 {
  position: absolute;
  top: 89px;
  left: 12px;
  width: 1189px;
  height: 5853px;
}
.layout-parent {
  top: 427px;
  left: 55px;
  width: 1247px;
  height: 6013px;
}
.gallery1 {
  position: relative;
  width: 100%;
  height: 7311px;
  text-align: left;
  font-size: 20px;
  color: #6e6b56;
  font-family: Nunito;
}
