.ellipse1,
.i1 {
  position: relative;
}
.i1 {
  display: inline-block;
  font-weight: 700;
  width: 48.1px;
  height: 27px;
  flex-shrink: 0;
}
.ellipse1 {
  border-radius: 50%;
  background-color: #6e6b56;
  width: 12px;
  height: 12px;
}
.start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}
.rectangle12 {
  flex: 1;
  position: relative;
  border-radius: 7px;
  background-color: #2f6926;
  width: 4px;
}
.ellipse2 {
  position: relative;
  border-radius: 50%;
  background-color: #126da0;
  width: 12px;
  height: 12px;
}
.end,
.line {
  align-items: center;
}
.end {
  height: 24px;
  display: none;
  flex-direction: row;
  justify-content: center;
}
.line {
  align-self: stretch;
  width: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.kintaro-is-born {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  line-height: 150%;
  font-weight: 600;
  color: #2f6926;
}
.location1 {
  text-transform: uppercase;
  display: none;
}
.location1,
.this-time-around {
  align-self: stretch;
  position: relative;
}
.event1,
.info1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.info1 {
  flex: 1;
  flex-direction: column;
  padding: 0 0 48px;
  gap: 8px;
  font-size: 16px;
  color: #384247;
  font-family: Inter;
}
.event1 {
  position: absolute;
  top: 809px;
  left: 0;
  width: 400px;
  flex-direction: row;
  gap: 16px;
  text-align: left;
  font-size: 20px;
  color: #2f6926;
  font-family: Nunito;
}
